.hero {
  background: url("../images/backgrounds/main-bg.png") center / cover no-repeat;
  min-height: 90vh;
  display: flex;
}

.inner {
  width: 70.2%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 0;
}

h1 {
  font-size: var(--fontsize-h1);
  text-transform: uppercase;
  background: url("../images/about/redfilter.jpeg") center / cover no-repeat;
  -webkit-background-clip: text;
  font-weight: bold;
  color: transparent;
}

span {
  font-size: 32px;
  font-weight: 400;
  color: var(--orange-color);
}

.box-desc {
  border: 2.5px solid var(--white-color);
  padding: 24px 16px;
  width: fit-content;
  color: var(--light-black-color);
  z-index: 3;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--light-black-color);
}

.copy-right {
  font-size: var(--fontsize-h3);
}

.history {
  font-size: var(--fontsize-h2);
  font-weight: bold;
}

.main-programe {
  background: url("../images/home/fill-bg.png") repeat;
  background-color: var(--light-black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 90px;
}

.main-programe h3 {
  color: var(--gray-color);
}

.sec-title {
  align-self: center;
  font-size: var(--fontsize-h3);
}

.cards-group {
  display: flex;
  gap: 4px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  background: rgba(211, 211, 211, 0.062745098);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 24px;
  border: 2px solid transparent;
  color: var(--gray-color);
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  border: 2px solid var(--white-color);
}

.card-title {
  color: var(--orange-color);
}

.more {
  color: var(--orange-color);
  text-decoration: underline;
  font-size: var(--fontsize-h3);
  text-transform: uppercase;
}

.feature-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  padding: 70px 0;
}

.feature-section h3 {
  color: var(--light-black-color);
}

.speak-group {
  display: flex;
  flex-direction: column;
  max-height: 771px;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
}

.speaker {
  display: flex;
  gap: 24px;
}

.img-holder {
  width: 120px;
  height: 120px;
  position: relative;
}

.speaker-img {
  width: 100%;
  height: 110%;
  object-fit: cover;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  width: 30px;
  height: 2px;
  background-color: var(--gray-color);
}

.oranga-line {
  height: 2px;
  width: 30px;
  background-color: var(--orange-color);
  display: flex;
  justify-content: flex-start;
}

.about {
  max-width: 180px;
  font-size: var(--fontsize-h4);
}

.square-patern {
  position: absolute;
  top: -20%;
  left: -26%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.partners {
  min-height: 30vh;
  background-color: var(--light-black-color);
  display: flex;
  flex-direction: column;
  padding: 60px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.partners h3 {
  color: var(--gray-color);
}

.partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
}

.partner-list li {
  flex-basis: 210px;
  text-align: center;
}

.partner-list li img {
  width: 100%;
}

.job-title {
  color: var(--orange-color);
  font-size: var(--postion-title);
}

@media (max-width: 867px) {
  .speak-group {
    display: flex;
    flex-direction: column;
    max-height: none;
    width: 98%;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .inner {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .main-programe {
    padding: 30px 10px;
  }

  .cards-group {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feature-section {
    height: auto;
  }
}
